body {
    margin: 20px;
    font-size: 180%;
   font-family: 'Dancing Script', cursive;
}

.all-content {
    padding: 10px;
}

.btn {
    margin: 5px;
}
#site-title {
    font-weight: 900;
    font-size: 36px
}